services:
  app-test:
    build:
      context: .
      dockerfile: docker/Dockerfile.test
    container_name: fed-fale-com-jesus-test
    volumes:
      - ./coverage:/app/coverage
    environment:
      - NODE_ENV=test
      - CI=true
    networks:
      - test-network

networks:
  test-network:
    driver: bridge

